.home {
    background-color: $background-color;
    padding: 2rem;
  
    h2 {
      font-size: 2rem;
      color: $primary-color;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    p {
      font-size: 1.2rem;
      color: $text-color;
      line-height: 1.6;
      margin-bottom: 2rem;
      text-align: center;
    }
  }
  